body {
  margin: 0;
  padding: 0;
  background-color: #aaeeaa;
}
div#header {
  background-color: red;

}

div#logo {
  width: 100%
}

img#logo-image {
  margin: 0 auto 0 auto;
  display: block;
}

div#navigation {
  height: 50px;
  background-color: #aae;
}

div#content {
  width: 800px;
  margin: 0 auto 0 auto;
}

div#footer {
  width: 800px;
  margin: 0 auto 0 auto;
}
